
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  box-sizing: content-box;
  color: #222831;
}
h1 {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
}
p {
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 2px;
  color: rgb(142, 142, 147);
}
hr {
  height: 1px;
  background-color: rgb(230, 230, 230);
  border: none;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 600px;
}
p.text-block {
  letter-spacing: 1px;
  font-size: 1.25em;
  color: #393f4d;
  text-align: center;
}
.optional-button {
  font-size: 20px;
  position: fixed;
  top: 5%;
  right: 5%;
  background: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
}
.optional-button:hover {
  text-decoration: none;
}
@keyframes wave-animation {
  0% { transform: rotate(  0.0deg); }
  10% { transform: rotate(-10.0deg); }
  20% { transform: rotate( 12.0deg); }
  30% { transform: rotate(-10.0deg); }
  40% { transform: rotate(  9.0deg); }
  50% { transform: rotate(  0.0deg); }
  100% { transform: rotate(  0.0deg); }
}
.optional-button:hover span {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
.home-handwritten{
  margin-top: 10px;
  font-size: 3.5em;
  font-family: 'Reenie Beanie', cursive;
}
/* .home {
  display: flex;
  height: 100vh;
} */
/* .text-block {
  letter-spacing: 1px;
  font-size: 1.25em;
  color: #393f4d;
  text-align: center;
} */
a {
  color: #393f4d;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
.home,
.about,
.social {
  max-width: 1000px;
  margin: auto;
  padding-left: 10% !important;
  padding-right: 10% !important;
  box-sizing: content-box;
}
.home,
.about,
.social {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home_body {
  text-align: center;
}
.home_body img {
  margin-top: 20px;
}
.about_body {
  display: grid;
}
.about_body h1{
  margin-top: 0;
  margin-bottom: 5%;
}
.about_body a{
  margin: auto;
  width: 125px;
  height: 100px;
}
.text-body {
  letter-spacing: 1px;
  font-size: 1.25em;
  color: #393f4d;
  text-align: center;
  margin: 10px;
}
.social {
  display: flex;
  height: 100vh;
}
.social_body_items{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  height: 35px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-evenly;
}
.social_body_email{
  display: flex;
  justify-content: center;
}
.social_body_email a{
  font-size: larger;
}
.social h1 {
  margin: 0;
}

@media only screen and (max-width: 1300px){

}
@media only screen and (max-width: 640px){
  
}